<div id="" class="">

	<div class="container ">
		<h2 class="bg-info text-white text-bold text-uppercase text-italic text-center pt-3 mt-2">
			Dernières réalisations
		</h2>
		<div class="card mb-3">
			{% for blogpost in blogposts %}

				<div class="row g-0 border m-2">
					<div class="col-md-4">
						<img src="https://iamage.fr/images/secure/ez4eGO/ccVfseB1pd50xKR_1676680591.jpg" class="img-fluid rounded-start m-2" alt="..." style=" margin:auto; ">
					</div>
					<div class=" col-md-8">
						<div class="card-body ">
							<h5 class="card-title">
								{{blogpost.titre}}
							</h5>
							<p class="card-text">
								{{blogpost.contenu | u.truncate(200, '...', false ) }}
							</p>
							
							<p class="card-text">
								{{blogpost.contenu | u.truncate(200, '...', false ) }}
							</p>
							<p class="card-text">
								{{blogpost.contenu | u.truncate(200, '...', false ) }}
							</p>
							<p class="card-text">
								<small class="text-body-secondary">Publiée le :  {{blogpost.createdAt | date('d/m/Y')}} </small>
							</p>
						</div>
					</div>

				</div>
			{% endfor %}

		</div>

	</div>
</div>
